<%- include('partials/header') -%>
    <h1><%= title %></h1>
    <p class='welcome-p'>Welcome to <%= title %></p>
    <a class='nav-link' href='/articles'><h3>View Articles</h3></a>
    <a class='nav-link' href='/articles/new'> <h3>Add Article</h3></a>
    <a class='nav-link' href='/tags'> <h3>View By Tags</h3></a>
<%- include('partials/footer') -%>
